* {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400; 
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: flex-end;
    
}
nav {
    display: flex;
    gap: 90px;
}
#head {
    width: 850px;
       
    border-radius: 0px 15px 15px 0px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.00) 100%);
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    flex-direction: row;
    display: flex;
      
}
#head a {
    text-decoration: none;  
    color: black;  
    font-size: 180%;
}    
body {
    margin: auto;
    background-image: url(./assests/PANO_20210802_135250\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ghost {
    
    height: 100px; 
    margin: auto;
}
.body_container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
#ghost2 {
    
    width: 150px;
}
#caixaTexto {
    
    border-radius: 0px 15px;
    background: rgba(0, 0, 0, 0.253);
    width: 800px;    
    padding: 35px;   
}
#mirante {
    
    font-size: 60px;
}
#do {
    
    font-size: 60px;
    display: inline;
}
h1 {
    
    font-size: 110px;
    display: inline;
}
p {
    font-size: 30px; 
}
#butoes {
    
    display: flex;
    justify-content: space-around;
    
}
#contato {
    width: 257px;
    height: 68px;
    border-radius: 20px 0px 20px 20px;
    border: 2px solid #fff8f8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}
#sobre {
    width: 257px;
    height: 68px;
    border-radius: 20px 0px 20px 20px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}
#ghost3 {
    height: 100px; 
    margin: auto;
}    
#iconeSociais a {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100px;
    gap: 8px;
}